//
//
// Switch
//

.form-switch {
  padding-left: $form-switch-padding-start;
  min-height  : $form-switch-height + 0.5;
  display     : flex;
  align-items : center;

  .form-check-input {
    width : $form-switch-width;
    height: $form-switch-height;
  }

  label {
    margin     : 0 .75rem -5px;
    line-height: 1;
  }
}